header {
  background-color: #4472c4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  color: white;
}
header h2 {
  font-size: max(1.9vw, 22px);
}
